<mat-nav-list dense>
  <mat-list-item *ngFor="let element of todoElements; let i = index" routerLinkActive="active" routerLink="/items/{{element.id}}">
    <a matLine>{{element.name}}</a>
    <span class="child-count" *ngIf="element.childCount > 0">{{element.childCount}}</span>
    <button mat-icon-button (click)="editList(i)">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-list-item>
</mat-nav-list>
<mat-toolbar color="primary">
  <button mat-icon-button (click)="addList()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button [disabled]="selectedElementIndex < 0" (click)="removeList()">
    <mat-icon>remove</mat-icon>
  </button>
  <button mat-icon-button [disabled]="selectedElementIndex <= 0" (click)="move(true)">
    <mat-icon>arrow_upward</mat-icon>
  </button>
  <button mat-icon-button [disabled]="selectedElementIndex < 0 || selectedElementIndex == todoElements.length - 1" (click)="move(false)">
    <mat-icon>arrow_downward</mat-icon>
  </button>
</mat-toolbar>