mat-toolbar {
  position: fixed;
  bottom:0px;
  height: 45px;
  width:300px;
}

mat-nav-list {
  width:300px;
  margin-bottom: 45px;
}

.mat-nav-list .active {
  background: #B0BEC5;
}

.child-count {
  margin-right: 10px;
  font-size: xx-small
}