<mat-nav-list dense>
  <mat-list-item routerLinkActive="active" routerLink="/results/{{myDayElement.id}}">
    <a matLine>{{myDayElement.name}}</a>
    <span class="child-count" *ngIf="myDayElement.childCount > 0">{{myDayElement.childCount}}</span>
  </mat-list-item>
  <mat-list-item routerLinkActive="active" routerLink="/items/{{myTasksElement.id}}">
    <a matLine>{{myTasksElement.name}}</a>
    <span class="child-count" *ngIf="myTasksElement.childCount > 0">{{myTasksElement.childCount}}</span>
  </mat-list-item>
</mat-nav-list>