<mat-nav-list dense>
  <mat-list-item *ngFor="let element of queryElements" routerLinkActive="active" routerLink="/results/{{element.id}}">
    <a matLine>{{element.name}}</a>
    <span class="child-count" *ngIf="element.childCount > 0">{{element.childCount}}</span>
  </mat-list-item>
  <mat-list-item routerLinkActive="active" routerLink="/items/{{myTasksElement.id}}">
    <a matLine>{{myTasksElement.name}}</a>
    <span class="child-count" *ngIf="myTasksElement.childCount > 0">{{myTasksElement.childCount}}</span>
  </mat-list-item>
</mat-nav-list>