<mat-nav-list dense>
  <mat-list-item *ngFor="let element of queryElements; let i = index" routerLinkActive="active" routerLink="/results/{{element.id}}">
    <mat-icon matListIcon class="list-entry-icon">{{queryElementIcons[i]}}</mat-icon>
    <a>{{element.name}}</a>
    <span class="fill-remaining-space"></span>
    <span class="list-entry-count" *ngIf="element.remainingCount > 0">{{element.remainingCount}}</span>
  </mat-list-item>
  <mat-list-item routerLinkActive="active" routerLink="/items/{{myTasksElement.id}}">
    <mat-icon matListIcon class="list-entry-icon">list</mat-icon>
    <a>{{myTasksElement.name}}</a>
    <span class="fill-remaining-space"></span>
    <span class="list-entry-count" *ngIf="myTasksElement.remainingCount > 0">{{myTasksElement.remainingCount}}</span>
  </mat-list-item>
</mat-nav-list>