@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

/* left side icon for all list entries */
.mat-nav-list .list-entry-icon {
  margin-left: -10px;
  margin-right: 5px;
  color: #283593;
}

/* right side list entry counter */
.mat-nav-list .list-entry-count {
  margin-right: 5px;
  font-size: xx-small
}

/* Fills the remaining space, by using flexbox */ 
.fill-remaining-space {
  flex: 1 1 auto;
}